<!DOCTYPE html>
<html lang="en">

    <head>
        {% if agreed == 1 %}
            <script>
                window.location.href = "http://localhost:{{ port }}";
            </script>
        {% endif %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Activity Monitor</title>
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico' ) }}">

        <!-- Custom fonts for this template-->
        <link href="{{ url_for('static', filename='all.min.css' ) }}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template-->
        <link href="{{ url_for('static', filename='sb-admin.css' ) }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='native-toast.css' ) }}" rel="stylesheet">






    </head>

    <body id="page-top">

        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top justify-content-between">

            <a class="navbar-brand mr-1" href="../"><img src="{{ url_for('static', filename='favicon.ico' ) }}" height="30px" > Activity Monitor</a>
            <!-- Navbar -->
            <div class="h4 text-white"></div>
            <div class="align-middle">
            </div>
        </nav>

        <div id="wrapper">

            <div id="content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>Terms and Conditions</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h6>Read the terms and conditions below carefully and click "I Agree" or "I Decline".</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="container">
                            Date last modified: August 12, 2019<br><br>

                            BY ACCESSING THE SERVICES, YOU OR THE ENTITY OR COMPANY THAT YOU REPRESENT (“<strong>CUSTOMER</strong>”)
                            ARE UNCONDITIONALLY CONSENTING TO BE BOUND BY AND ARE BECOMING A PARTY TO THESE TERMS OF
                            SERVICE (“<strong>AGREEMENT</strong>”). CUSTOMER’S USE OF THE SERVICES SHALL ALSO CONSTITUTE ASSENT TO THE
                            TERMS OF THIS AGREEMENT. IF CUSTOMER DOES NOT UNCONDITIONALLY AGREE TO <strong>ALL</strong>
                            OF THE TERMS OF THIS AGREEMENT, YOU SHOULD NOT USE THE SERVICES. IF THESE TERMS ARE
                            CONSIDERED AN OFFER, ACCEPTANCE IS EXPRESSLY LIMITED TO THESE TERMS.<br><br>

                            Activity Monitor agrees to provide Customer access to a current version of the Services on
                            the terms and conditions contained in this Agreement. <br><br>


                            <strong>1. DEFINITIONS</strong>
                            <ol type="i">
                                <li>
                                    “Documentation” means the user manuals and any other materials in
                                    any form or medium made generally available by activity monitor to Customer
                                    regarding the proper installation and use of the Software.
                                </li>
                                <li>
                                    “Services” shall mean the employee/ user activity tracking and monitoring coupled
                                    with analysis of gathered data, subject to the terms and conditions of this Agreement.
                                </li>
                                <li>
                                    “Software” means each activity monitor software, deployed in the Customer device,
                                    together with any and all codes, logic, techniques, software tools, formats, designs,
                                    concepts, methods, processes, third-party data, and ideas associated with such computer
                                    programs and any and all updates provided by activity monitor.
                                </li>
                            </ol>

                            <strong>2. SERVICES LICENSE</strong><br>
                            Activity Monitor grants to Customer a non-exclusive, nontransferable, restricted license to
                            access the Services during the term of this Agreement for the sole purpose of evaluating the
                            Services, and strictly prohibits any commercial or other use thereof for Customer or third parties.
                            No other entity of the Customer shall be allowed access or use of the Services. Customer shall use
                            Services in compliance with activity monitor’s Privacy Policy and Acceptable Use Policy.<br><br>

                            <strong>3. CUSTOMER DATA</strong><br>
                            Activity Monitor hereby acknowledges and agrees that all rights, title and interest in and
                            to data provided by Customer (“<strong>CUSTOMER DATA</strong>”) are and shall remain the property of Customer
                            and all intellectual property rights in Customer Data are the property of Customer. Customer
                            hereby grants to Activity Monitor throughout the term of this Agreement, and after the term
                            as necessary for any of Activity Monitor’s post-termination obligations to Customer, the necessary
                            rights or license to use, cache, and transmit Customer Data via the Services solely as necessary
                            for the purposes of this Agreement. Activity monitor shall at all times maintain the confidentiality
                            of all Customer Data, subject to the ability of Activity Monitor to share Customer Data with
                            its authorized third-party contractors for performance of Services, and shall promptly return
                            all such Customer Data at the request of Customer. In the event of termination of expiration
                            of this Agreement for any reason, Customer shall have complete ownership of the data collected
                            during the time of operation within the organization.<br><br>

                            <strong>4. TERM AND TERMINATION</strong><br>
                            The term of this Agreement shall commence upon the Effective Date, and shall remain in effect
                            until expiration or termination as set forth herein. Either party may terminate this Agreement
                            for convenience upon written notice to the other party.<br><br>

                            In addition, this Agreement shall automatically terminate upon earliest occurrence of any of the following:
                            <ol type="i">
                                <li>
                                    Purchase by Customer of Activity Monitor’s subscription services.
                                </li>
                                <li>
                                    Violation by Customer of any of the provisions of this Agreement.
                                </li>
                            </ol>

                            <strong>5. OWNERSHIP</strong><br>
                            Activity monitor shall own all right title and interest in and to the Services and Software
                            and all intellectual property rights in the Software and Services are owned by Activity Monitor
                            and/or its licensor(s) and protected by Intellectual Property Act, No. 36 of 2003, other applicable
                            copyright laws, other applicable proprietary rights laws, including but not limited to trade
                            secret laws, and other international treaty provisions. Activity Monitor retains ownership of
                            the Software and Services and no rights are granted to the Customer other than a license to use
                            on terms expressly set forth in this Agreement.<br><br>

                            <strong>6. LIMITATIONS</strong><br>
                            CUSTOMER ACKNOWLEDGES THAT THE SERVICES AND DOCUMENTATION ARE PROVIDED TO CUSTOMER “AS-IS”.
                            ACTIVITY MONITOR MAKES NO EXPRESS OR IMPLIED WARRANTIES AND HEREBY DISCLAIMS ANY WARRANTIES
                            OF MERCHANTABILITY, NON-INFRINGEMENT, OR FITNESS FOR A PARTICULAR PURPOSE OR WARRANTIES
                            REGARDING LOSS OF DATA OR RESULTS TO BE OBTAINED FROM THE SERVICES OR SOFTWARE. NEITHER
                            ACTIVITY MONITOR NOR ITS OFFICERS, ACTIVITY MONITOR’S, DIRECTORS OR EMPLOYEES SHALL BE
                            RESPONSIBLE OR LIABLE FOR (I) ANY LOSS ARISING FROM USE OF THE SERVICES OR DOCUMENTATION OR
                            (II) ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, WHETHER
                            BASED ON CONTRACT, TORT, STRICT LIABILITY, FAILURE OF ESSENTIAL PURPOSE OR OTHERWISE.<br><br>

                            <strong>7. MISCELLANEOUS</strong><br>
                            This Agreement shall be interpreted in all respects in accordance with the laws of the State
                            of Sri Lanka, including Information and Communication Technology Act of 2003; not withstanding
                            any conflict of law rules. The obligations and provisions of Sections 5, 6 and 7 shall survive
                            expiration or termination of this Agreement. This Agreement, including any referenced attachments
                            and/ or incorporated documents, constitute the entire understanding of the parties relating
                            to the subject matter hereof and any representation, promise, or condition not contained
                            herein shall not be binding on either party.<br><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="container">
                            <a href="{{ url_for('static', filename='eula.pdf' ) }}" target="_blank" class="btn btn-outline-primary" download>Download this as a PDF</a>
                        </div>
                    </div>
                    <hr>

                    <div class="row text-center">
                        <div class="col-lg-12">
                            <button type="button" id="disagree" class="btn btn-outline-danger">I Decline</button>
                            <button type="button" id="agree" class="btn btn-success">I Agree</button>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <!-- /.container-fluid -->

                <!-- Sticky Footer -->

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <footer class="sticky-footer" style="width: 100%;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Activity Monitor - 2019</span>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="{{ url_for('static', filename='jquery.min.js' ) }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js' ) }}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ url_for('static', filename='jquery.easing.min.js' ) }}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ url_for('static', filename='sb-admin.min.js' ) }}"></script>

        <!-- Toast -->
        <script src="{{ url_for('static', filename='native-toast.js' ) }}"></script>

    <script>
        $('#agree').click(function(){
            $('#agree').attr('disabled', true);
            $('#disagree').attr('disabled', true);
            $.ajax({
                url:"/tracker/eula_agree",
                method:"POST",
                data:{},
                success:function(e){
                    if (e == 'successful')
                    {
                        nativeToast({
                            message: 'Thank You!',
                            position: 'bottom',
                            timeout: 2000,
                            type: 'success',
                            edge: true
                        });
                        $.ajax({
                            url:"/tracker/start_tracker",
                            method:"POST",
                            data:{},
                        });
                        window.setTimeout(function(){
                            window.location.href = "http://localhost:{{ port }}";
                        }, 2000);
                    }
                    else if (e == 'already') {
                        nativeToast({
                            message: 'Already Agreed to the Terms and Conditions',
                            position: 'bottom',
                            timeout: 2000,
                            type: 'success',
                            edge: true
                        });
                        $.ajax({
                            url:"/tracker/start_tracker",
                            method:"POST",
                            data:{},
                        });
                        window.setTimeout(function(){
                            window.location.href = "http://localhost:{{ port }}";
                        }, 2000);
                    }
                }
            });
        });

        $("#disagree").click(function () {
            nativeToast({
                message: 'We are sorry to hear that',
                position: 'bottom',
                timeout: 2000,
                type: 'warning',
                edge: true
            });
            $.ajax({
                url:"/tracker/stop_tracker",
                method:"POST",
                data:{},
            });
            window.setTimeout(function(){
                window.location.href = "http://localhost:{{ port }}";
            }, 2000);
        })
    </script>

    </body>
</html>
