<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Activity Monitor</title>
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico' ) }}">


        <!-- Custom fonts for this template-->
        <link href="{{ url_for('static', filename='all.min.css' ) }}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template-->
        <link href="{{ url_for('static', filename='sb-admin.css' ) }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='toggle.css' ) }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='offline.css' ) }}" rel="stylesheet">
    </head>

    <body id="page-top">
        <div class="overlay" id="overlay">
            <div class="overlay-text">
                <div class="spinner-grow text-danger" style="width: 3rem; height: 3rem;" role="status">
                </div>
                <br>
                <p class="text-danger h5">Reconnecting with Activity Monitor ...</p>
            </div>
        </div>

        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top justify-content-between">

            <a class="navbar-brand mr-1" href="../"><img src="{{ url_for('static', filename='favicon.ico' ) }}" height="30px" >
                Activity Monitor
                <span id="running_spinner" data-toggle="tooltip" data-placement="right" title="Running" class="spinner-grow spinner-grow-sm text-success" role="status" aria-hidden="true" style="margin-bottom: 3px; display: none;"></span>
            </a>
            <!-- Navbar -->
            <div class="h4 text-white">{%  if date %}Date - {{ date }}{% endif %}</div>
            <div class="align-middle">
                <div class="row">
                    <div class="text-white" style="margin-top: 2px; margin-right: 10px">Auto Refresh</div>
                    <div class="toggle-btn {% if refresh == 1 %}active{% endif %}">
                      <input type="checkbox" {% if refresh == 1 %}checked{% endif %} class="cb-value" />
                    <span class="round-btn"></span>
                    </div>
                </div>
            </div>
        </nav>

        <div id="wrapper">



            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% if date %}{{ '../dash/' + date }}{% endif %}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li> 
                {% if date %}
                <div id="navs">
                    <li class="nav-item">
                        <a class="nav-link" href="../usage/{{date}}" style="color:#007bff">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>App Usage</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../statistics/{{date}}" style="color:#ff7f0e">
                            <i class="fas fa-fw fa-chart-bar"></i>
                            <span>Statistics</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../windows/{{date}}" style="color:#dc3545">
                            <i class="fas fa-fw fa-window-restore"></i>
                            <span>Windows</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../screenshots/{{date}}" style="color:#28a745">
                            <i class="fas fa-fw fa-desktop"></i>
                            <span>Screenshots</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../keystrokes/{{date}}" style="color:#ffc107">
                            <i class="fas fa-fw fa-keyboard"></i>
                            <span>Keystrokes</span></a>
                    </li>
                </div>
                {% endif %}
            </ul>

            <div id="content-wrapper">
                <div class="container-fluid">

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="../">Activity Monitor</a>
                        </li>
                        <li class="breadcrumb-item active">Statistics</li>
                    </ol>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-poll"></i>
                                    Statistics
                                </div>
                                <div class="card-body">
                                    <div class="row justify-content-center align-middle">
                                        {% if no_data == 1 %}<center class="small text-muted"><i class="fas fa-times-circle text-danger"></i> No data to be displayed</center>
                                        {% else %}
                                        
                                        <div class="col-lg-12 text-center">
                                            <div class="card-deck">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="h3 text-success"><i class="fas fa-history"></i></div>
                                                        <p class="h6">Total PC Usage</p><hr>
                                                        <h4><pre>{{ total_usage }}</pre></h4>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="h3 text-warning"><i class="fas fa-trophy"></i></div>
                                                        <p class="h6">Top 3 Used Apps</p><hr>
                                                        <h5><i class="fas fa-medal text-warning"></i> {{ first_app[0] }} - <small>{{ first_app[1] }}</small></h5>
                                                        <h5><i class="fas fa-medal text-secondary"></i> {{ second_app[0] }} - <small>{{ second_app[1] }}</small></h5>
                                                        <h5><i class="fas fa-medal text-orange"></i> {{ third_app[0] }} - <small>{{ third_app[1] }}</small></h5>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="h3 text-primary"><i class="fas fa-i-cursor"></i></div>
                                                        <p class="h6">Total Words Typed</p><hr>
                                                        <h4><pre>{{ word_count }} words</pre></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-footer small text-muted update"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-8">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-window-maximize"></i>
                                    Website Visits
                                </div>
                                <div class="card-body">
                                    {% if no_data == 1 %}<center class="small text-muted"><i class="fas fa-times-circle text-danger"></i> No data to be displayed</center>{% endif %}
                                    {% if url_data %}
                                        {% for url, time in url_data.items() %}
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item justify-content-around"><a href="{{ url }}" target="_blank">{{ url }}</a> | {{ time }} seconds</li>
                                            </ul>
                                        {% endfor %}
                                    {% else %}
                                        {% if no_data == 0 %}
                                            <center class="small text-muted"><i class="fas fa-times-circle text-danger"></i> No data</center>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="card-footer small text-muted update"></div>
                            </div>
                        </div>
                    <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-file-download"></i>
                                    Downloads
                                </div>
                                <div class="card-body">
                                    {% if no_data == 1 %}<center class="small text-muted"><i class="fas fa-times-circle text-danger"></i> No data to be displayed</center>{% endif %}
                                    <ul class="list-group list-group-flush">
                                    {% if downloads %}
                                        {% for row in downloads %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div><i class="fas {{ row[5] }}"></i> {{ row[1] }}</div>
                                                <small>{{ row[4] }}</small>
                                            </li>
                                        {%  endfor %}
                                    {% else %}
                                        {% if no_data == 0 %}
                                            <center class="small text-muted"><i class="fas fa-times-circle text-danger"></i> No downloads</center>
                                        {% endif %}
                                    {% endif %}
                                    </ul>
                                </div>
                                <div class="card-footer small text-muted update"></div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <!-- /.container-fluid -->

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Activity Monitor - 2019</span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="{{ url_for('static', filename='jquery.min.js' ) }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js' ) }}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ url_for('static', filename='jquery.easing.min.js' ) }}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ url_for('static', filename='sb-admin.min.js' ) }}"></script>


        <script>
            var today = new Date();
            var date = today.getFullYear()+'-'+("0" + (today.getMonth() + 1)).slice(-2)+'-'+ ("0" + today.getDate()).slice(-2) ;
            $('.update').html("Last updated on " + date + " at " + today.toString().split(" ")[4]);
        </script>

        <script>
            $('.cb-value').click(function() {
                var mainParent = $(this).parent('.toggle-btn');

                if($(mainParent).find('input.cb-value').is(':checked')) {
                    $(mainParent).addClass('active');
                    $.ajax({
                        url:"/tracker/refresh",
                        method:"POST",
                        data:{},
                        success:function(){
                            window.location.reload();
                        }
                    });
                }
                else {
                    $(mainParent).removeClass('active');
                    $.ajax({
                        url:"/tracker/refresh",
                        method:"POST",
                        data:{},
                        success:function(){
                            window.location.reload();
                        }
                    });
                }
            });

            {% if date %}
            $('#navs').css('display', 'block');
            {% endif %}


            {% if refresh == 1 %}
            var time = new Date().getTime();
            $(document.body).bind("mousemove keypress", function(e) {
                time = new Date().getTime();
            });

            function refresh() {
                if(new Date().getTime() - time >= 30000)
                    window.location.reload();
                else
                    setTimeout(refresh, 1000);
            }

            setTimeout(refresh, 1000);
        {% endif %}

        window.setInterval(function(){
            if (document.hasFocus()) {
                $.ajax({
                    url: "/tracker/isRunning",
                    method: "POST",
                    data: {},
                    success: function (response) {
                        console.log(response);
                        $('#overlay').css('display', 'none');
                        if (response == '1') {
                            $('#running_spinner').css('display', 'inline-block');
                        } else if (response == '0') {
                            $('#running_spinner').css('display', 'none');
                        }
                    },
                    error: function () {
                        console.log("Error");
                        $('#overlay').css('display', 'block');
                    }
                });
            }
        }, 3000);

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        </script>
      
    </body>



</html>

{##1 - apps#}
{##2 - inactive#}